body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
  position: absolute;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-custom{
  margin-top: 10%;
  color:white;
}
.input-custom, .input-text-custom{
  background-color: #1c1c1c;
  color:white;
}
.imageList{
  position: fixed;
  bottom: 0;
  height: calc(75% - 50px);
  width: 100vw;
  overflow: auto;
}